<div class="form">
  <h1>Menu</h1>
  <ul>
    <!-- Lặp qua mảng services, chỉ định một trình xử lýnhấp chuột và đặt hoặc loại bỏ lớp css "active" -->
    <li *ngFor="let item of services " (click)="Check_Active(item)" [ngClass]="item.active ? 'active' : ''">
      <!--Hiển thị name and price trong array .filter cho formatting the price -->
      {{ item.name }}
      <span>{{ item.price }}</span>
    </li>
  </ul>
  <div class="total">
    <!-- Tính lại total khi chọn services. Format lại currency. -->
    Total:<span>{{ Total() }}</span>
  </div>
</div>
